.button-text {
    overflow: visible;
    position: relative;
    background: transparent;
    color: rgb(var(--accent-primary));
    outline: 0;
    border: 0;
    cursor: pointer;
  }
  
  .button-text:focus {
    outline: 0;
    border: 0;
  }
  
  .button-text::before {
    content: "";
    position: absolute;
    place-self: center;
    border-radius: 3px;
    padding: .6rem .5rem;
    top: -.6rem;
    left: -.5rem;
    height: 100%;
    width: 100%;
    transition: var(--transition-fast);
  }
  
  .button-text:hover::before, .button-text:focus::before {
    background-color: rgba(var(--accent-light), .15);
  }
  
  .button-text:active::before {
    background-color: rgba(var(--accent-light), .2);
  }
  
  .button-contained {
    position: relative;
    color: rgb(var(--text-secondary));
    text-transform: uppercase;
    background: rgb(var(--accent-primary));
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }
  
  ul{
    margin: 0;
    padding: 0;
    overflow: visible;
  }

  li {
    list-style-type: none;
    float: left;
  }
